.contentwrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.card {
    max-height: 100%;
    max-width: 100%;
}